{% extends 'index.html' %}


{% block content %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="description">Item</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					{% for i in cart_products %}
						<tr>
							<td class="cart_description">
								<h4><a href="/product/{{ i.user_product.name }}/{{ i.user_product.id }}">{{ i.user_product.name }}</a></h4>
							</td>
							<td class="cart_price">
								<h4>{{ i.user_product.price }} сум</h4>
							</td>
							<td class="cart_quantity">
								<h4>{{ i.user_product_quantity }}</h4>
							</td>
							<td class="cart_total">
								<h4>{{ total }} сум</h4>
							</td>
							<td class="cart_delete">
								<form action="/del_item/{{ i.user_product.id }}" method="post">
									{% csrf_token %}
									<button><i class="fa fa-times"></i></button>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Total products <span>{{ total }} сум</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>{{ total }} сум</span></li>
						</ul>
							<form method="POST" action="/send_to_tg">
								{% csrf_token %}
								<button>Оформить заказ</button>
							</form>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
{% endblock content %}
